.newMessageTextarea{
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  width: 90%;
  border: 2px solid black;
  resize: none;
  min-height: 40px;

}
.newMessageButton{
  background-image: url("https://www.pngfind.com/pngs/m/74-749231_png-file-svg-send-message-icon-png-transparent.png");
  background-size: 50px  40px;
  background-repeat: no-repeat;
  height: 50px;
  width:60px;
  margin: 5px 0 0 10px;
}
.newMessageButton:hover{
  cursor: pointer;
}
.newMessage {
  display: flex;
}